@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sofia Sans', sans-serif;
  background-image: url('/image/background.png');
  background-size: cover;
  background-attachment: fixed;
  word-break: break-word;
}

.border-3 {
  border: 3px solid #e4e4e4;
}

.card {
  background-color: #fff;
  padding-top: 48px;
}

.button {
  transition: all 0.3s ease-in-out;
  @apply bg-primary-200 text-white font-bold text-2xl leading-[29px] w-full rounded-full py-4 flex flex-row justify-center items-center gap-1;
}

.button:hover {
  @apply hover:bg-white hover:border-solid hover:border-primary-200 hover:text-primary-200;
  border-width: 3px;
}

.button:hover path {
  fill: currentColor;
}

.social-media:hover path {
  transition: all 0.4s ease-in-out;
  @apply fill-primary-200;
}
