@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sofia Sans', sans-serif;
  background-image: url('/image/background.png');
  background-size: cover;
  background-attachment: fixed;
  word-break: break-word;
}

.card {
  @apply bg-white border-[3px] border-solid border-secondary-50 pt-8 sm:pt-12;
}

.button {
  transition: all 0.3s ease-in-out;
  @apply rounded-full flex flex-row justify-center items-center gap-1 border-[3px] border-solid border-primary-200;
}

.button path {
  fill: currentColor;
}

.button-contained {
  @apply bg-primary-200 text-white;
}

.button-outlined {
  @apply bg-white text-primary-200;
}

.button-contained:hover {
  @apply bg-white text-primary-200;
}

.button-outlined:hover {
  @apply bg-primary-200 text-white;
}

.social-media:hover path {
  transition: all 0.4s ease-in-out;
  @apply fill-primary-200;
}

.menu-item {
  transition: all 0.3s ease-in-out;
  word-break: normal;
  @apply flex flex-col justify-center items-center gap-1 w-[89px] text-secondary-400 text-[16px] font-bold hover:text-primary-200;
}

.menu-item-active {
  @apply text-primary-200;
}

.menu-item-active path,
.menu-item:hover path {
  @apply fill-current;
}

.text-about {
  @apply text-[16px] leading-[19px] sm:text-xl sm:leading-6 text-secondary-300;
}
