@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sofia Sans', sans-serif;
}

.border-3 {
  border: 3px solid #e4e4e4;
}

.card {
  background-color: #fff;
  padding-top: 48px;
}
